<section class="carousel">
  <div class="carousel__track">
    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-1.jpg"
        alt="Flower 1"
        class="carousel__image"
      />
    </div>

    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-2.jpg"
        alt="Flower 2"
        class="carousel__image"
      />
    </div>

    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-3.jpg"
        alt="Flower 3"
        class="carousel__image"
      />
    </div>

    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-4.jpg"
        alt="Flower 4"
        class="carousel__image"
      />
    </div>

    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-5.jpg"
        alt="Flower 5"
        class="carousel__image"
      />
    </div>

    <!-- Puedes duplicar los items para un efecto de ciclo infinito -->
    <!-- <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-1.jpg"
        alt="Flower 1 duplicate"
        class="carousel__image"
      />
    </div>
    <div class="carousel__item">
      <img
        src="./aem-demo/assets/img/carousel-2.jpg"
        alt="Flower 2 duplicate"
        class="carousel__image"
      />
    </div> -->
  </div>
</section>
